body{
    background-color: #F4D35E;
}
#table{
    margin: 4%;
    border: 2px solid #95190C ;
    border-collapse: collapse;
    background-color: #E5B25D;
}
#table table tr td {
    color: #95190C;
    width: 100px;
    text-align:center;
    border: 2px solid #95190C ;
    height: 25px;
}
#table table th{
    color: #95190C;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
#table table tr{
    background-color: #CB8D4B;
}
#table table tr:hover {background-color: #F5E960;}

